.sidebar-link.active{
    background: #000;
    color: #fff;
    transition: .3s;
}
[data-collapse]{
    width: 70px;
    min-width: 70px;
    transition: .25s;
}
[data-collapse="true"]{
    width: 250px;
    min-width: 250px;
    overflow: hidden;
}

[data-collapse="false"] .sidebar-item,
[data-collapse="false"] .sidebar-logo{
    display: none;
}